In [9]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import re
import numpy as np

In [10]:
income_df = income_df = pd.read_excel(r"C:\Users\kesha\Documents\nss_da10\projects\police-response-capstone\data\income_per_zipcode_nashville.xlsx")

In [7]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 89 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   B19001                                                                       18 non-null     object
 1   Household Income in the Past 12 Months (In 2022 Inflation-adjusted Dollars)  19 non-null     object
 2   Unnamed: 2                                                                   18 non-null     object
 3   Unnamed: 3                                                                   19 non-null     object
 4   Unnamed: 4                                                                   18 non-null     object
 5   Unnamed: 5                                                                   19 non-null     object
 6   Unnamed: 6                                                                   18 non-null     object
 7   Unnamed: 7                                                                   19 non-null     object
 8   Unnamed: 8                                                                   18 non-null     object
 9   Unnamed: 9                                                                   19 non-null     object
 10  Unnamed: 10                                                                  18 non-null     object
 11  Unnamed: 11                                                                  19 non-null     object
 12  Unnamed: 12                                                                  18 non-null     object
 13  Unnamed: 13                                                                  19 non-null     object
 14  Unnamed: 14                                                                  18 non-null     object
 15  Unnamed: 15                                                                  19 non-null     object
 16  Unnamed: 16                                                                  18 non-null     object
 17  Unnamed: 17                                                                  19 non-null     object
 18  Unnamed: 18                                                                  18 non-null     object
 19  Unnamed: 19                                                                  19 non-null     object
 20  Unnamed: 20                                                                  18 non-null     object
 21  Unnamed: 21                                                                  19 non-null     object
 22  Unnamed: 22                                                                  18 non-null     object
 23  Unnamed: 23                                                                  19 non-null     object
 24  Unnamed: 24                                                                  18 non-null     object
 25  Unnamed: 25                                                                  19 non-null     object
 26  Unnamed: 26                                                                  18 non-null     object
 27  Unnamed: 27                                                                  19 non-null     object
 28  Unnamed: 28                                                                  18 non-null     object
 29  Unnamed: 29                                                                  19 non-null     object
 30  Unnamed: 30                                                                  18 non-null     object
 31  Unnamed: 31                                                                  19 non-null     object
 32  Unnamed: 32                                                                  18 non-null     object
 33  Unnamed: 33                                                                  19 non-null     object
 34  Unnamed: 34                                                                  18 non-null     object
 35  Unnamed: 35                                                                  19 non-null     object
 36  Unnamed: 36                                                                  18 non-null     object
 37  Unnamed: 37                                                                  19 non-null     object
 38  Unnamed: 38                                                                  18 non-null     object
 39  Unnamed: 39                                                                  19 non-null     object
 40  Unnamed: 40                                                                  18 non-null     object
 41  Unnamed: 41                                                                  19 non-null     object
 42  Unnamed: 42                                                                  18 non-null     object
 43  Unnamed: 43                                                                  19 non-null     object
 44  Unnamed: 44                                                                  18 non-null     object
 45  Unnamed: 45                                                                  19 non-null     object
 46  Unnamed: 46                                                                  18 non-null     object
 47  Unnamed: 47                                                                  19 non-null     object
 48  Unnamed: 48                                                                  18 non-null     object
 49  Unnamed: 49                                                                  19 non-null     object
 50  Unnamed: 50                                                                  18 non-null     object
 51  Unnamed: 51                                                                  19 non-null     object
 52  Unnamed: 52                                                                  18 non-null     object
 53  Unnamed: 53                                                                  19 non-null     object
 54  Unnamed: 54                                                                  18 non-null     object
 55  Unnamed: 55                                                                  19 non-null     object
 56  Unnamed: 56                                                                  18 non-null     object
 57  Unnamed: 57                                                                  19 non-null     object
 58  Unnamed: 58                                                                  18 non-null     object
 59  Unnamed: 59                                                                  19 non-null     object
 60  Unnamed: 60                                                                  18 non-null     object
 61  Unnamed: 61                                                                  19 non-null     object
 62  Unnamed: 62                                                                  18 non-null     object
 63  Unnamed: 63                                                                  19 non-null     object
 64  Unnamed: 64                                                                  18 non-null     object
 65  Unnamed: 65                                                                  19 non-null     object
 66  Unnamed: 66                                                                  18 non-null     object
 67  Unnamed: 67                                                                  19 non-null     object
 68  Unnamed: 68                                                                  18 non-null     object
 69  Unnamed: 69                                                                  19 non-null     object
 70  Unnamed: 70                                                                  18 non-null     object
 71  Unnamed: 71                                                                  19 non-null     object
 72  Unnamed: 72                                                                  18 non-null     object
 73  Unnamed: 73                                                                  19 non-null     object
 74  Unnamed: 74                                                                  18 non-null     object
 75  Unnamed: 75                                                                  19 non-null     object
 76  Unnamed: 76                                                                  18 non-null     object
 77  Unnamed: 77                                                                  19 non-null     object
 78  Unnamed: 78                                                                  18 non-null     object
 79  Unnamed: 79                                                                  19 non-null     object
 80  Unnamed: 80                                                                  18 non-null     object
 81  Unnamed: 81                                                                  19 non-null     object
 82  Unnamed: 82                                                                  18 non-null     object
 83  Unnamed: 83                                                                  19 non-null     object
 84  Unnamed: 84                                                                  18 non-null     object
 85  Unnamed: 85                                                                  19 non-null     object
 86  Unnamed: 86                                                                  1 non-null      object
 87  Unnamed: 87                                                                  19 non-null     object
 88  Unnamed: 88                                                                  1 non-null      object
dtypes: object(89)
memory usage: 14.0+ KB

In [11]:
income_df

,B19001,Household Income in the Past 12 Months (In 2022 Inflation-adjusted Dollars),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41
0,NaN,All of Nashville,37013,37015,37027,37062,37064,37072,37073,37075,...,37213,37214,37215,37216,37217,37218,37219,37220,37221,37228
1,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
2,Total:,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
3,"Less than $10,000",0.054419,0.044877,0.021233,0.019597,0.015552,0.028406,0.051068,0.026455,0.028586,...,0,0.031019,0.027778,0.016517,0.069057,0.11169,0,0.009129,0.02853,0.016086
4,"$10,000 to $14,999",0.031537,0.023086,0.019192,0.008235,0.03878,0.01513,0.018618,0.011758,0.014965,...,0,0.025216,0.012963,0.017099,0.018447,0.068797,0,0.009129,0.013786,0.060992
5,"$15,000 to $19,999",0.029166,0.028934,0.076222,0.007222,0.027469,0.013578,0.034957,0.034098,0.015909,...,0,0.021554,0.014815,0.038502,0.049888,0.03566,0.035406,0,0.020865,0.091823
6,"$20,000 to $24,999",0.034521,0.027582,0.029536,0.013079,0.013533,0.019958,0.0497,0.038017,0.022738,...,0,0.023489,0.01462,0.027335,0.032563,0.059209,0,0.025726,0.023048,0.021448
7,"$25,000 to $29,999",0.033863,0.043966,0.01715,0.010921,0.017976,0.021466,0.019302,0.047619,0.021031,...,0,0.021209,0.024464,0.026056,0.04283,0.037511,0.02418,0,0.020386,0.023458
8,"$30,000 to $34,999",0.036878,0.036823,0.028583,0.012419,0.030701,0.021596,0.042708,0.032922,0.023428,...,0,0.054093,0.013158,0.032337,0.050209,0.039361,0.046632,0.016598,0.016714,0.039544
9,"$35,000 to $39,999",0.040115,0.04267,0.048319,0.010085,0.024036,0.028622,0.038301,0.041544,0.027206,...,0,0.054231,0.022807,0.054903,0.057186,0.04979,0.080311,0.016598,0.03529,0.080429
10,"$40,000 to $44,999",0.041763,0.052296,0.063155,0.013343,0.048677,0.033105,0.029714,0.026455,0.030475,...,0,0.034128,0.00731,0.030825,0.034729,0.027754,0.013817,0.023651,0.031777,0.022118
11,"$45,000 to $49,999",0.040907,0.044049,0.042194,0.00414,0.015552,0.028708,0.033665,0.038801,0.030874,...,0,0.055682,0.017154,0.062813,0.067052,0.030278,0,0.011618,0.050727,0
12,"$50,000 to $59,999",0.07898,0.095849,0.075949,0.029329,0.043628,0.049011,0.0937,0.076034,0.072246,...,0,0.070328,0.081189,0.091893,0.095364,0.062237,0.126943,0.078008,0.066056,0.11193
13,"$60,000 to $74,999",0.100917,0.120287,0.122091,0.077858,0.165017,0.075391,0.116346,0.067019,0.109549,...,0,0.143282,0.048635,0.10399,0.118062,0.089655,0.07513,0.03195,0.095811,0.157507
14,"$75,000 to $99,999",0.133875,0.164777,0.140738,0.089572,0.134114,0.109962,0.139752,0.151088,0.143693,...,0,0.185976,0.060916,0.139002,0.129852,0.138604,0.153713,0.093776,0.118327,0.117962
15,"$100,000 to $124,999",0.095223,0.102496,0.129304,0.111459,0.154918,0.086038,0.108063,0.140702,0.131597,...,1,0.080207,0.097758,0.081191,0.092557,0.106644,0.202936,0.081743,0.127482,0.096515
16,"$125,000 to $149,999",0.068102,0.058971,0.074997,0.098688,0.069481,0.090047,0.059199,0.078385,0.09502,...,0,0.072884,0.065595,0.099919,0.061758,0.041043,0.093264,0.10083,0.098526,0.008043
17,"$150,000 to $199,999",0.077072,0.064432,0.076222,0.121059,0.114926,0.127635,0.096208,0.113463,0.128619,...,0,0.079585,0.10692,0.091427,0.059753,0.037511,0.086356,0.133195,0.099963,0.018767
18,"$200,000 or more",0.102664,0.048904,0.035116,0.372996,0.085639,0.251347,0.068698,0.075642,0.104065,...,0,0.047116,0.383918,0.086193,0.020693,0.064256,0.061313,0.36805,0.152712,0.133378
19,* Base value of zero; no percentage available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN